@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap");
:root {
  --color-primary: #FF6060;
  --color-secondary: #000000;
  --color-tertiary: #F6F6F6;
  --color-quaternary: #ffffff;
  --color-quinquenary: #E3E3E3;
}

/*reset CSS afin de réinitialiser les données dans les différents navigateurs*/
@import-normalize;
body {
  font-family: "Montserrat", sans-serif;
}

.bannier {
  width: 90%;
  height: 223px;
  margin: auto;
  margin-top: 20px;
  margin-bottom: 20px;
  border-radius: 10px;
  position: relative;
}
.bannier .background {
  position: absolute;
  width: 100%;
  height: 223px;
  background-color: rgba(0, 0, 0, 0.3);
  border-radius: 10px;
}
.bannier img {
  width: 100%;
  height: 223px;
  object-fit: cover;
  border-radius: 10px;
}
.bannier h1 {
  position: absolute;
  top: 25%;
  left: 25%;
}

.card-contener {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 90%;
  margin: auto;
  margin-top: 30px;
  margin-bottom: 30px;
  padding: 15px;
  background-color: var(--color-tertiary);
  border-radius: 10px;
}
.card-contener .card {
  width: 29%;
  height: 340px;
  margin: 10px;
  position: relative;
  border-radius: 10px;
}
.card-contener .card img {
  width: 100%;
  height: 340px;
  object-fit: cover;
  margin-right: 10px;
  border-radius: 10px;
}
.card-contener .card h2 {
  position: absolute;
  top: 85%;
  left: 5%;
}

.contener-dropdown-logement, .contener-dropdown-a-propos {
  margin: auto;
}
.contener-dropdown-logement .dropdown .onglet, .contener-dropdown-a-propos .dropdown .onglet {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 52px;
  border-radius: 10px;
  background-color: var(--color-primary);
  padding-left: 10px;
  padding-right: 10px;
  cursor: pointer;
  z-index: 2;
}
.contener-dropdown-logement .dropdown .onglet span, .contener-dropdown-a-propos .dropdown .onglet span {
  margin-top: 0px;
}
.contener-dropdown-logement .dropdown .onglet img, .contener-dropdown-a-propos .dropdown .onglet img {
  width: 30px;
  height: 20px;
}
.contener-dropdown-logement .dropdown .collapse, .contener-dropdown-a-propos .dropdown .collapse {
  line-height: 25.67px;
  padding-left: 20px;
  margin: auto;
  margin-top: -5px;
  background: var(--color-tertiary);
  height: 0px;
  border-radius: 0px 0px 10px 10px;
  overflow: hidden;
  transition: height ease 0.9s;
  z-index: 1;
}
.contener-dropdown-logement .dropdown .collapse p, .contener-dropdown-a-propos .dropdown .collapse p {
  font-size: 18px;
  font-weight: 400;
  color: var(--color-primary);
}

.rotate {
  transform: rotate(180deg);
}

.contener-dropdown-a-propos {
  width: 90%;
  margin: auto;
  padding-top: 10px;
}
.contener-dropdown-a-propos .dropdown {
  width: 100%;
  margin: auto;
  margin-top: 50px;
  margin-bottom: 80px;
}
.contener-dropdown-a-propos .dropdown .onglet {
  width: 80%;
  margin: auto;
  margin-top: 45px;
  z-index: 1;
}
.contener-dropdown-a-propos .dropdown .collapse {
  width: 79%;
  margin-top: -1px;
}
.contener-dropdown-a-propos .dropdown .collapse p {
  font-size: 18px;
  font-weight: 400;
  color: var(--color-primary);
}

.contener-dropdown-logement {
  display: flex;
  justify-content: space-between;
  width: 90%;
}
@media screen and (max-width: 769px) {
  .contener-dropdown-logement {
    flex-direction: column;
  }
}
.contener-dropdown-logement .dropdown {
  width: 48%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 30px;
}
.contener-dropdown-logement .dropdown .onglet {
  width: 97%;
}
.contener-dropdown-logement .dropdown .collapse {
  width: 93%;
  padding-right: 20px;
}

body {
  width: 100%;
  margin: auto;
  display: flex;
  justify-content: center;
  background-color: var(--color-quaternary);
}

header, main {
  width: 90%;
  margin: auto;
}

h1 {
  font-family: Montserrat, sans-serif;
  font-size: 48px;
  font-weight: 500;
  color: var(--color-tertiary);
}

h2 {
  font-family: Montserrat, sans-serif;
  font-size: 18px;
  font-weight: 300;
  color: var(--color-quaternary);
}

h3 {
  font-family: Montserrat, sans-serif;
  font-size: 18px;
  font-weight: 500;
  color: var(--color-primary);
}

h4 {
  font-family: Montserrat, sans-serif;
  font-size: 18px;
  font-weight: 400;
}

p {
  font-family: Montserrat, sans-serif;
  font-size: 14px;
  font-weight: 500;
}

a {
  text-decoration: none;
  color: black;
  font-family: Montserrat, sans-serif;
  font-size: 16px;
  font-weight: 500;
}

span {
  font-family: Montserrat, sans-serif;
  font-size: 18px;
  font-weight: 500;
  color: var(--color-quaternary);
}

li {
  font-family: Montserrat, sans-serif;
  font-size: 18px;
  font-weight: 400;
  color: var(--color-primary);
}

.header-container {
  width: 80%;
  height: 68px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: auto;
  margin-top: 10px;
  margin-bottom: 35px;
}
.header-container a {
  font-family: Montserrat, sans-serif;
  margin-left: 40px;
  color: var(--color-primary);
  text-decoration: none;
}

.contener-logement {
  width: 100%;
}
.contener-logement .caroussel {
  width: 90%;
  height: 415px;
  margin: auto;
  position: relative;
}
.contener-logement .caroussel .caroussel-img {
  width: 100%;
  height: 415px;
  object-fit: cover;
}
.contener-logement .caroussel .arrow {
  display: flex;
  justify-content: space-between;
  width: 100%;
  position: absolute;
  top: 150px;
}
.contener-logement .caroussel .dots {
  position: absolute;
  text-align: center;
  margin: auto;
  top: 360px;
  width: 100%;
  color: var(--color-quaternary);
}
.contener-logement .card-contener-logement {
  display: flex;
  justify-content: space-between;
  width: 90%;
  margin: auto;
  margin-top: 20px;
  margin-bottom: 20px;
}
.contener-logement .card-contener-logement h2 {
  font-weight: 500;
  font-size: 36px;
  color: var(--color-primary);
}
.contener-logement .card-contener-logement div:nth-child(3) {
  display: flex;
  margin-top: 10px;
}
.contener-logement .card-contener-logement div:nth-child(3) span {
  width: auto;
  white-space: nowrap;
  text-align: center;
  background-color: var(--color-primary);
  border-radius: 10px;
  padding-top: 2px;
  padding-right: 15px;
  padding-bottom: 2px;
  padding-left: 15px;
  margin-top: 10px;
  margin-right: 10px;
  margin-bottom: 20px;
}
.contener-logement .card-contener-logement .host {
  display: flex;
  align-items: center;
  text-align: right;
  width: 150px;
}
.contener-logement .card-contener-logement .host p {
  font-size: 18px;
  color: var(--color-primary);
  line-height: 25px;
  padding: 10px;
}
.contener-logement .card-contener-logement .host img {
  width: 64px;
  border-radius: 100%;
}
.contener-logement .card-contener-logement .rating {
  display: flex;
  justify-content: space-around;
}
.contener-logement .card-contener-logement .rating img {
  width: 26px;
}
.contener-logement .card-contener-logement .rating .star {
  fill: var(--color-quinquenary);
  height: 1em;
}
.contener-logement .card-contener-logement .rating .active {
  fill: var(--color-primary);
}

footer {
  width: 100%;
  height: 109px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--color-secondary);
}
footer .footer-logo {
  width: 60px;
  margin-top: 30px;
}
footer p {
  color: var(--color-quaternary);
}

.main-error {
  width: 100%;
  height: 620px;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 2px solid rgb(0, 255, 60);
}
.main-error h2 {
  font-size: 288px;
  font-weight: 700;
  color: var(--color-primary);
}
.main-error h3 {
  font-size: 36px;
  margin-top: 50px;
  margin-bottom: 70px;
}
.main-error a {
  color: var(--color-primary);
}/*# sourceMappingURL=style.css.map */