@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap");
:root {
  --color-primary: #FF6060;
  --color-secondary: #000000;
  --color-tertiary: #F6F6F6;
  --color-quaternary: #ffffff;
  --color-quinquenary: #E3E3E3;
}

.loader {
  width: 0;
  height: 0;
  margin: auto;
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 10px;
  border: 3px solid var(--color-primary);
  border-bottom-color: transparent;
  border-radius: 22px;
  animation: loader 1s infinite linear;
}

@keyframes loader {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
/*reset CSS afin de réinitialiser les données dans les différents navigateurs*/
@import-normalize;
body {
  font-family: "Montserrat", sans-serif;
}

.bannier {
  position: relative;
  width: 90%;
  height: 223px;
  margin: auto;
  margin-top: 20px;
  margin-bottom: 20px;
  border-radius: 10px;
}
@media screen and (max-width: 376px) {
  .bannier {
    width: 90%;
    height: 111px;
    margin-top: 10px;
  }
}
.bannier img {
  width: 100%;
  height: 223px;
  object-fit: cover;
  border-radius: 10px;
  filter: brightness(70%);
}
@media screen and (max-width: 376px) {
  .bannier img {
    height: 111px;
  }
}
.bannier h1 {
  position: absolute;
  top: 23%;
  left: 23%;
}
@media screen and (max-width: 769px) {
  .bannier h1 {
    top: 30%;
    left: 10%;
    width: 80%;
    font-size: 36px;
    font-weight: 500;
  }
}
@media screen and (max-width: 376px) {
  .bannier h1 {
    top: 10%;
    left: 5%;
    width: 80%;
    font-size: 24px;
    font-weight: 500;
  }
}

.contener-dropdown-logement, .contener-dropdown-about {
  margin: auto;
  width: 90%;
}
.contener-dropdown-logement .dropdown, .contener-dropdown-about .dropdown {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.contener-dropdown-logement .dropdown .onglet, .contener-dropdown-about .dropdown .onglet {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 52px;
  border-radius: 10px;
  background-color: var(--color-primary);
  padding-left: 10px;
  padding-right: 10px;
  cursor: pointer;
  z-index: 1;
}
@media screen and (max-width: 376px) {
  .contener-dropdown-logement .dropdown .onglet, .contener-dropdown-about .dropdown .onglet {
    height: 30px;
  }
}
.contener-dropdown-logement .dropdown .onglet span, .contener-dropdown-about .dropdown .onglet span {
  margin-top: 0px;
  text-transform: capitalize;
}
@media screen and (max-width: 376px) {
  .contener-dropdown-logement .dropdown .onglet span, .contener-dropdown-about .dropdown .onglet span {
    font-size: 13px;
  }
}
.contener-dropdown-logement .dropdown .onglet img, .contener-dropdown-about .dropdown .onglet img {
  width: 30px;
  height: 20px;
}
@media screen and (max-width: 376px) {
  .contener-dropdown-logement .dropdown .onglet img, .contener-dropdown-about .dropdown .onglet img {
    width: 15px;
    height: 10px;
  }
}
.contener-dropdown-logement .dropdown .collapse, .contener-dropdown-about .dropdown .collapse {
  height: 0px;
  line-height: 25.67px;
  margin: auto;
  margin-top: -5px;
  padding-left: 20px;
  background: var(--color-tertiary);
  border-radius: 0px 0px 10px 10px;
  overflow: hidden;
  transition: height ease 0.9s;
  z-index: 0;
}
.contener-dropdown-logement .dropdown .collapse p, .contener-dropdown-logement .dropdown .collapse li, .contener-dropdown-about .dropdown .collapse p, .contener-dropdown-about .dropdown .collapse li {
  font-size: 18px;
  font-weight: 400;
  color: var(--color-primary);
}
@media screen and (max-width: 376px) {
  .contener-dropdown-logement .dropdown .collapse p, .contener-dropdown-logement .dropdown .collapse li, .contener-dropdown-about .dropdown .collapse p, .contener-dropdown-about .dropdown .collapse li {
    font-size: 12px;
  }
}

.rotate {
  transform: rotate(180deg);
}

.contener-dropdown-about {
  margin-top: 69px;
  margin-bottom: 84px;
}
.contener-dropdown-about .dropdown {
  width: 90%;
  margin: auto;
  margin-top: 45px;
}
@media screen and (max-width: 376px) {
  .contener-dropdown-about .dropdown {
    width: 100%;
    margin-top: 30px;
  }
}
.contener-dropdown-about .dropdown .onglet {
  width: 100%;
}
@media screen and (max-width: 376px) {
  .contener-dropdown-about .dropdown .onglet {
    width: 95%;
  }
}
.contener-dropdown-about .dropdown .collapse {
  width: 99%;
  margin-left: -6px;
}
@media screen and (max-width: 769px) {
  .contener-dropdown-about .dropdown .collapse {
    width: 98%;
    margin-left: -3px;
  }
}
@media screen and (max-width: 376px) {
  .contener-dropdown-about .dropdown .collapse {
    width: 92%;
    margin-left: 2px;
  }
}

.contener-dropdown-logement {
  display: flex;
  justify-content: space-between;
}
@media screen and (max-width: 376px) {
  .contener-dropdown-logement {
    flex-direction: column;
    width: 90%;
  }
}
.contener-dropdown-logement .dropdown {
  width: 48%;
  margin-bottom: 30px;
}
@media screen and (max-width: 376px) {
  .contener-dropdown-logement .dropdown {
    width: 97%;
    margin-bottom: 40px;
  }
}
.contener-dropdown-logement .dropdown .onglet {
  width: 97%;
}
.contener-dropdown-logement .dropdown .collapse {
  width: 92%;
  padding-right: 20px;
}
@media screen and (max-width: 769px) {
  .contener-dropdown-logement .dropdown .collapse {
    width: 88%;
    margin-left: 0;
  }
}
@media screen and (max-width: 376px) {
  .contener-dropdown-logement .dropdown .collapse {
    width: 88%;
  }
}

:root {
  width: 100%;
  display: flex;
  justify-content: center;
}

body {
  width: 100%;
  margin: auto;
  background-color: var(--color-quaternary);
}

main {
  width: 100%;
}

h1 {
  font-family: Montserrat, sans-serif;
  font-size: 48px;
  font-weight: 500;
  color: var(--color-tertiary);
}

h2 {
  font-family: Montserrat, sans-serif;
  font-size: 18px;
  font-weight: 300;
  color: var(--color-quaternary);
}

h3 {
  font-family: Montserrat, sans-serif;
  font-size: 18px;
  font-weight: 500;
  color: var(--color-primary);
}

h4 {
  font-family: Montserrat, sans-serif;
  font-size: 18px;
  font-weight: 400;
}

p {
  font-family: Montserrat, sans-serif;
  font-size: 14px;
  font-weight: 500;
}

a {
  font-family: Montserrat, sans-serif;
  font-size: 16px;
  font-weight: 500;
  text-decoration: none;
  color: black;
}

span {
  font-family: Montserrat, sans-serif;
  font-size: 18px;
  font-weight: 500;
  color: var(--color-quaternary);
}

li {
  font-family: Montserrat, sans-serif;
  font-size: 18px;
  font-weight: 400;
  color: var(--color-primary);
}

.header-contener {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  height: 68px;
  margin: auto;
  margin-top: 10px;
  margin-bottom: 35px;
}
@media screen and (max-width: 769px) {
  .header-contener {
    width: 90%;
    margin-bottom: 0;
  }
}
.header-contener .header-logo {
  height: 100%;
}
@media screen and (max-width: 769px) {
  .header-contener .header-logo {
    height: 70%;
  }
}
.header-contener a {
  font-family: Montserrat, sans-serif;
  margin-left: 40px;
  color: var(--color-primary);
  text-decoration: none;
}
.header-contener a:active {
  text-decoration: underline;
}
@media screen and (max-width: 769px) {
  .header-contener a {
    text-transform: uppercase;
    margin-left: 25px;
    font-size: 12px;
  }
}

.card-contener {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 88%;
  margin: auto;
  margin-top: 30px;
  margin-bottom: 30px;
  padding: 15px;
  background-color: var(--color-tertiary);
  border-radius: 10px;
}
@media screen and (max-width: 376px) {
  .card-contener {
    width: 90%;
    flex-direction: column;
    padding: 0px;
    background-color: transparent;
  }
}
.card-contener .card {
  position: relative;
  width: 29%;
  height: 340px;
  margin: 10px;
  margin-top: 20px;
  margin-bottom: 30px;
  border-radius: 10px;
}
@media screen and (max-width: 376px) {
  .card-contener .card {
    width: 100%;
    margin: 0;
    margin-bottom: 30px;
  }
}
.card-contener .card .background-card {
  position: absolute;
  width: 100%;
  height: 340px;
  background: linear-gradient(180deg, rgba(255, 255, 255, 0) 20%, rgba(0, 0, 0, 0.5) 80%);
  border-radius: 10px;
}
.card-contener .card img {
  width: 100%;
  height: 340px;
  object-fit: cover;
  margin-right: 10px;
  border-radius: 10px;
}
.card-contener .card h2 {
  position: absolute;
  top: 80%;
  left: 5%;
}
@media screen and (max-width: 769px) {
  .card-contener .card h2 {
    font-size: 15px;
    top: 80%;
  }
}

.contener-logement {
  width: 100%;
  margin-bottom: 22px;
}
.contener-logement .caroussel {
  position: relative;
  width: 90%;
  height: 415px;
  margin: auto;
}
@media screen and (max-width: 376px) {
  .contener-logement .caroussel {
    width: 90%;
    height: 255px;
    margin-top: 15px;
  }
}
.contener-logement .caroussel .caroussel-img {
  width: 100%;
  height: 415px;
  object-fit: cover;
  border-radius: 10px;
}
@media screen and (max-width: 376px) {
  .contener-logement .caroussel .caroussel-img {
    height: 255px;
  }
}
.contener-logement .caroussel .arrow {
  position: absolute;
  top: 150px;
  display: flex;
  justify-content: space-between;
  width: 100%;
}
@media screen and (max-width: 376px) {
  .contener-logement .caroussel .arrow {
    top: 100px;
    height: 30px;
  }
}
.contener-logement .caroussel .dots {
  position: absolute;
  top: 360px;
  width: 100%;
  text-align: center;
  margin: auto;
  color: var(--color-quaternary);
}
@media screen and (max-width: 376px) {
  .contener-logement .caroussel .dots {
    display: none;
  }
}
.contener-logement .card-contener-logement {
  display: flex;
  justify-content: space-between;
  width: 90%;
  margin: auto;
  margin-top: 20px;
  margin-bottom: 20px;
}
@media screen and (max-width: 376px) {
  .contener-logement .card-contener-logement {
    flex-direction: column;
    width: 90%;
    margin-bottom: 10px;
  }
}
.contener-logement .card-contener-logement h2 {
  font-size: 36px;
  font-weight: 500;
  color: var(--color-primary);
}
@media screen and (max-width: 376px) {
  .contener-logement .card-contener-logement h2 {
    font-size: 18px;
    margin: 0;
  }
}
@media screen and (max-width: 376px) {
  .contener-logement .card-contener-logement h3 {
    font-size: 14px;
  }
}
.contener-logement .card-contener-logement .tags {
  display: flex;
}
.contener-logement .card-contener-logement .tags div {
  display: flex;
  align-items: center;
  height: 25px;
  margin-right: 10px;
  padding-left: 15px;
  padding-right: 15px;
  background-color: var(--color-primary);
  border-radius: 7px;
}
@media screen and (max-width: 376px) {
  .contener-logement .card-contener-logement .tags div {
    height: 18px;
    font-size: 10px;
  }
}
.contener-logement .card-contener-logement .tags p {
  white-space: nowrap;
  border-radius: 10px;
  color: var(--color-quaternary);
}
@media screen and (max-width: 376px) {
  .contener-logement .card-contener-logement .tags p {
    font-size: 10px;
  }
}
@media screen and (max-width: 376px) {
  .contener-logement .card-contener-logement .lessor {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    margin-top: 10px;
  }
}
.contener-logement .card-contener-logement .host {
  display: flex;
  align-items: center;
  width: 150px;
  text-align: right;
}
@media screen and (max-width: 376px) {
  .contener-logement .card-contener-logement .host {
    width: 100px;
    height: 50px;
    padding-right: 10px;
  }
}
.contener-logement .card-contener-logement .host p {
  font-size: 18px;
  line-height: 25px;
  padding: 10px;
  color: var(--color-primary);
}
@media screen and (max-width: 376px) {
  .contener-logement .card-contener-logement .host p {
    font-size: 12px;
    line-height: 17px;
  }
}
.contener-logement .card-contener-logement .host img {
  width: 64px;
  border-radius: 100%;
}
@media screen and (max-width: 376px) {
  .contener-logement .card-contener-logement .host img {
    width: 32px;
  }
}
.contener-logement .card-contener-logement .rating {
  display: flex;
  justify-content: space-around;
}
@media screen and (max-width: 376px) {
  .contener-logement .card-contener-logement .rating {
    width: 32%;
    align-self: center;
  }
}
.contener-logement .card-contener-logement .rating span {
  font-size: 18px;
}
@media screen and (max-width: 376px) {
  .contener-logement .card-contener-logement .rating span {
    font-size: 15px;
  }
}
.contener-logement .card-contener-logement .rating .star {
  fill: var(--color-quinquenary);
  height: 1em;
}
.contener-logement .card-contener-logement .rating .active {
  fill: var(--color-primary);
}

@media screen and (max-width: 376px) {
  .contener-about {
    width: 100%;
    flex-direction: column;
  }
}

footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 109px;
  background-color: var(--color-secondary);
}
@media screen and (max-width: 376px) {
  footer {
    height: 209px;
  }
}
footer .footer-logo {
  width: 60px;
  margin-top: 30px;
}
@media screen and (max-width: 376px) {
  footer .footer-logo {
    width: 122px;
  }
}
footer p {
  color: var(--color-quaternary);
}
@media screen and (max-width: 376px) {
  footer p {
    width: 130px;
    text-align: center;
    font-size: 12px;
    line-height: 17px;
  }
}

.contener-error {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 600px;
  margin-bottom: 100px;
}
.contener-error h2 {
  width: 100%;
  text-align: center;
  font-size: 288px;
  font-weight: 700;
  margin-top: -1px;
  line-height: 410px;
  color: var(--color-primary);
}
@media screen and (max-width: 376px) {
  .contener-error h2 {
    font-size: 96px;
  }
}
.contener-error h3 {
  font-size: 36px;
  margin-top: -160px;
  margin-bottom: 70px;
}
@media screen and (max-width: 376px) {
  .contener-error h3 {
    width: 260px;
    text-align: center;
    font-size: 18px;
  }
}
.contener-error a {
  color: var(--color-primary);
  text-decoration: underline;
}
@media screen and (max-width: 376px) {
  .contener-error a {
    width: 221px;
    text-align: center;
    font-size: 14px;
  }
}/*# sourceMappingURL=style.css.map */