.contener-dropdown-logement, .contener-dropdown-about {
    margin: auto;   
    // border: 2px solid rgb(166, 224, 143);

    .dropdown {  
        .onglet {
            display: flex;
            justify-content: space-between;
            align-items: center;
            height: 52px;
            border-radius: 10px;
            background-color: (var(--color-primary));
            padding-left: 10px;
            padding-right: 10px;
            cursor: pointer;
            z-index: 2;
            // border: 2px solid rgb(15, 35, 18);
            
            span{
                margin-top: 0px;

                @include tablet {
                   font-size: 13px;
                } 
            }
  
            img{
                width: 30px;
                height: 20px;

                @include tablet {
                    width: 15px;
                    height: 10px;
                 } 
            }
            
        }
  
        .collapse {
            //auto en CSS supprimerait l'animation
            height: 0px;
            line-height: 25.67px;            
            margin: auto;
            margin-top: -5px;
            padding-left: 20px;
            background: (var(--color-tertiary));                        
            border-radius: 0px 0px 10px 10px;
            overflow: hidden;
            transition: height ease 0.9s;             
            z-index: 1;
            // border: 2px solid rgb(243, 14, 239);

            p{
                font-size: 18px;
                font-weight: 400;
                color: (var(--color-primary));
            }
        }
    }
}
                 
.rotate{
    transform: rotate(180deg);
}
  
.contener-dropdown-about {
    
    width: 90%;
    // la hauteur bloc de déplacement des autres section lors de l'ouverture
    // height: 450px;
    margin: auto;
    padding-top: 10px;
    // border: 2px solid red;

    .dropdown {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 90%;
        margin: auto;  
        margin-top: 50px;
        margin-bottom: 80px;  
        // border: 2px solid rgb(0, 17, 255);

        @include tablet {            
            width: 100%;
            margin-top: 10px;
         } 

        .onglet {
            width: 100%;
            margin-top: 45px;   
            z-index: 1; 
            // border: 2px solid rgb(7, 163, 33);

            @include tablet {
                width: 95%;
             } 
        }

        .collapse {
            width: 99%;        
            margin-top: -1px;             
            margin-left: -6px;
            // border: 2px solid rgb(17, 255, 0);   

            p{
                font-size: 18px;
                font-weight: 400;
                color: (var(--color-primary));
            }
        }
    }
}

.contener-dropdown-logement {
    display: flex;
    justify-content: space-between;  
    width: 90%;
    // border: 2px solid rgb(81, 205, 93);

    @include tablet {
        flex-direction: column;
        width: 90%;
    }

    .dropdown {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 48%;
        margin-bottom: 30px;
        // border: 2px solid rgb(205, 81, 95);

        @include tablet {
            width: 97%;
            margin-bottom: 40px;
        }
    
       
        .onglet {
            width: 97%;
            // border: 2px solid rgb(17, 14, 15); 

            @include tablet {
                height: 40px;
            }          
        }
        
        .collapse {    
            width: 93%;                   
            padding-right: 20px;      
            // border: 2px solid rgb(17, 14, 15);
            
            @include tablet {
                width: 88%;
            } 
        }
    }
}
