.contener-dropdown-logement, .contener-dropdown-about {
    margin: auto;   
    width: 90%;
    // la hauteur bloc le déplacement des autres section lors de l'ouverture
    // height: 450px;

    .dropdown {  
        display: flex;
        flex-direction: column;
        align-items: center;

        .onglet {
            display: flex;
            justify-content: space-between;
            align-items: center;
            height: 52px;
            border-radius: 10px;
            background-color: (var(--color-primary));
            padding-left: 10px;
            padding-right: 10px;
            cursor: pointer;
            //Pour que onglet passe au-dessus de colapse
            z-index: 1;

            @include mobil {
                height: 30px;
            }
            
            span{
                margin-top: 0px;
                text-transform: capitalize;

                @include mobil {
                   font-size: 13px;
                } 
            }
  
            img{
                width: 30px;
                height: 20px;

                @include mobil {
                    width: 15px;
                    height: 10px;
                 } 
            }
            
        }
  
        .collapse {
            //height:auto en CSS supprimerait l'animation
            height: 0px;
            line-height: 25.67px;            
            margin: auto;
            margin-top: -5px;
            padding-left: 20px;
            background: (var(--color-tertiary));                        
            border-radius: 0px 0px 10px 10px;
            overflow: hidden;
            transition: height ease 0.9s;             
            z-index: 0;          

            p, li{
                font-size: 18px;
                font-weight: 400;
                color: (var(--color-primary));  
                
                    @include mobil {
                        font-size: 12px;
                     } 
            
            }
        }
    }
}
            
// Pour faire pivoter la flèche de l'onglet
.rotate{
    transform: rotate(180deg);
}
  
.contener-dropdown-about {
    margin-top: 69px;
    margin-bottom: 84px;
    
    .dropdown {
        width: 90%;
        margin: auto;  
        margin-top: 45px; 

        @include mobil {            
            width: 100%;
            margin-top: 30px;
         } 

        .onglet {
            width: 100%;

            @include mobil {
                width: 95%;
             } 
        }

        .collapse {
            width: 99%;                  
            margin-left: -6px;   

            @include tablet {
                width: 98%;
                margin-left: -3px;
             }            

            @include mobil {
                width: 92%;
                margin-left: 2px;
             }   
        }
    }
}

.contener-dropdown-logement {
    display: flex;
    justify-content: space-between;  

    @include mobil {
        flex-direction: column;
        width: 90%;
    }

    .dropdown {
        width: 48%;
        margin-bottom: 30px;

        @include mobil {
            width: 97%;
            margin-bottom: 40px;
        }
    
       
        .onglet {
            width: 97%;
        }
        
        .collapse {    
            width: 92%;                   
            padding-right: 20px;   
            
            @include tablet {
                width: 88%;
                margin-left: 0;
             }
            
            @include mobil {
                width: 88%;
            } 
        }
    }
}
