
.header-container{
    width: 80%;
    height: 68px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 35px;
    a{
        font-family: Montserrat, sans-serif;
        margin-left: 20px;    
        color: (var(--color-primary));  
        text-decoration: none;      
    }
}

