.contener-error{       
    display: flex;
    flex-direction: column;
    align-items: center;    
    height: 600px;    
    margin-bottom: 100px;
    
    h2{               
        width: 100%;
        text-align: center;
        font-size: 288px;
        font-weight: 700;
        margin-top: -1px; 
        line-height: 410px;
        color: (var(--color-primary));  

        @include mobil {
            font-size: 96px;            
        }
    }

    h3{
        font-size: 36px;
        margin-top: -160px;                
        margin-bottom: 70px;

        @include mobil {
            width: 260px;
            text-align: center; 
            font-size: 18px;                              
        }
    }

    a{
        color: (var(--color-primary));
        text-decoration: underline;

        @include mobil {
            width: 221px;
            text-align: center;
            font-size: 14px;                              
        }                
    }
}
