footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 109px;    
    background-color: (var(--color-secondary));

    @include mobil {
        height: 209px;
    }

    .footer-logo{
        width: 60px;
        margin-top: 30px;

        @include mobil {
            width: 122px;
        }
    }

    p{
        color: (var(--color-quaternary));

        @include mobil {
            width: 130px;
            text-align: center;
            font-size: 12px;
            line-height: 17px;            
        }
    }
}

