.header-contener{    
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    height: 68px;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 35px;

    @include tablet {
        width: 90%;
        margin-bottom: 0;
    }

    .header-logo{
        height: 100%;

        @include tablet {
            height: 70%;
        }
    }

    a{
        font-family: Montserrat, sans-serif;
        margin-left: 40px;    
        color: (var(--color-primary));  
        text-decoration: none;   

        &:hover {
            text-decoration: underline;
        }

        @include tablet {
            text-transform: uppercase;
            margin-left: 25px;
            font-size: 12px;
        }   
    }
}


