.contener-logement{
    width: 100%;
    margin-bottom: 22px;
    
    .caroussel {
        position: relative;
        width: 90%;
        height: 415px;
        margin: auto;        

        @include mobil {
            width: 90%;
            height: 255px;   
            margin-top: 15px;         
        }

        .caroussel-img {
            width: 100%;
            height: 415px;
            object-fit: cover;
            border-radius: 10px;  

            @include mobil {
                height: 255px;                
            }
        }
            
        .arrow {
            position: absolute;
            top: 150px;            
            display: flex;
            justify-content: space-between;                                     
            width: 100%;
            
            @include mobil {
                top: 100px;
                height: 30px;
            }           
        }        
        
        .dots{
            position: absolute;
            top: 360px;
            width: 100%;
            text-align: center;
            margin: auto;                       
            color: (var(--color-quaternary));

            @include mobil {
                top: 200px;
            }
        }
    }

    .card-contener-logement {
        display: flex;
        justify-content: space-between;
        width: 90%;
        margin: auto;
        margin-top: 20px;
        margin-bottom: 20px;

        @include mobil {
            flex-direction: column;
            width: 90%;
            margin-bottom: 10px;
        }

        h2 {
            font-size: 36px;
            font-weight: 500;            
            color: (var(--color-primary));

            @include mobil {
                font-size: 18px;
                margin: 0;
            }
        }
        h3{
            @include mobil {
                font-size: 14px;
            }
        }
        
        .tags{
            display: flex;

            div{                
                display: flex;
                align-items: center;
                height: 25px;         
                margin-right: 10px;
                padding-left: 15px;
                padding-right: 15px;       
                background-color: (var(--color-primary));
                border-radius: 7px;
                
                @include mobil {
                    height: 18px; 
                    font-size: 10px;                                       
                }
            }

            p{
                white-space: nowrap;
                border-radius: 10px;
                color: (var(--color-quaternary));                

                @include mobil {
                    font-size: 10px;
                }
            }
        } 

        .lessor{

            @include mobil {
                display: flex;
                flex-direction:row-reverse;
                justify-content: space-between;
                margin-top: 10px;
            }

        }

        .host {
            display: flex;
            align-items: center;
            width: 150px;
            text-align: right;                        
            
            @include mobil {
                width: 100px;
                height: 50px;
                padding-right:10px ;
            }
           
            p{
                font-size: 18px;                
                line-height: 25px;
                padding: 10px;
                color: (var(--color-primary));

                @include mobil {
                    font-size: 12px;
                    line-height: 17px;
                }
            }

            img{
                width: 64px;
                border-radius: 100%;

                @include mobil {
                    width: 32px;
                }
            }
        }     

        .rating{
            display: flex;
            justify-content: space-around;

            @include mobil {
                width: 32%;
                align-self: center;
            }

            span{
                font-size: 18px;

                @include mobil {
                    font-size: 15px;
                }
            }

            .star{
                fill: var(--color-quinquenary);
                height: 1em;
            }
            
            .active{
                fill: var(--color-primary);
            }
        }     
    }
}